body{
    background-color: #212121;
}

.big-container{
    display: flex;
    flex-direction: row;
}

.recommended{
    display: flex;
    flex-direction: column;
}

video-card{
    margin-left: 16px;
    margin-bottom: 16px;
}

app-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vc-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nm-section {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
}